.profile-banner {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 40px;
  position: relative;
  padding-bottom: 0px;
}

.profile-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.banner-content {
  position: relative;
  max-width: 1000px;
  font-weight: bold;
}

.banner-headline {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.banner-description {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.4;
}

.banner-buttons {
  display: flex;
  gap: 10px;
}

.banner-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.play-button {
  background-color: #e50914;
}

.info-button {
  background-color: rgba(109, 109, 110, 0.7);
}

.banner-button:hover {
  background-color: #b81d24;
}
