.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0');
  background-size: cover;
  background-position: center;
  opacity: 1;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
