/* NetflixTitle.css */

.netflix-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.netflix-title {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  color: red;
  text-transform: uppercase;
  font-family: 'Arial', sans-serif;
}

.letter {
  display: inline-block;
  opacity: 0;
  text-shadow: 0 0 8px rgb(255 253 253 / 64%), 2px 0px 0px rgb(255 255 255 / 36%);
}

.netflix-title.animate .letter {
  animation: reveal 0.5s forwards ease-in-out;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
